<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="signups.css">
</head>

<body>
<form class="login" method="POST" action="#">
    
    <div class="title">
        <h1>SEMO Resell</h1>
    </div>

    <div class="loginH">
        <h2>Login</h2>
    </div>

    <div class="form-elements">
        <input type="text" id="email" name="email" required placeholder="Email Address">
    </div>

    <div class="form-elements">
        <input type="password" id="password" name="password" required placeholder="Password">
    </div>

    <button type="submit">Login</button>
    
    <div class="buttons">
        <a href="#">Don't Have an Account? Register Here.</a>
        <a href="#">Forgot Password? Click Here.</a>
    </div>

</form>

<style>
    
</style>
</body>
</html>