<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="header.css">
    </head>
        <body>
        <header>
            <div class="menu">
                <a href="homepage.html" target="_top">Home</a>
                <a href="#">My Profile</a>
                <a href="listanitem.html" target="_top">List an Item</a>
                <a href="#">My Cart</a>
                <a href="#">Sign Out</a>
        </div>

        <div class="search">
            <input type="text" placeholder="Search..">
        </div>
    </header>
</body>
</html>